body{
    background-color: #305875;
    color: white;
}
h1{
    text-align: center;
    padding-right:3%;
}
h3{
    text-align: center;
    padding-top: 1%;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
.flex-container {
    display: flex;
    flex-direction: row;
    
  
  }
  .input-group {
    display:flex;
    flex-direction:column; 
    padding-top: 3%;
   

}
.Hospital{
    display: flex;
    justify-content: center;
    
    
}
.field{
 padding-top: 2%;
 padding-right:50px;
}
input{
    background-color: #305875;
    padding:10px 10px;
    border-bottom:2px solid white;
    border-left:none;
    border-right:none;
    border-top: none;
   
}
input[type="date"]{
    width:160px;
}
.legal{
    width:100%;
}
label{
    font-size:100%;
}



  
 
  
 